{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>{{schema.title}}</h1>
  <a href="">
    Edit schema
  </a>
  <table class="table">
    <tr>
      <th>#</th>
      <th>Column name</th>
      <th>Column type</th>
    </tr>

    {% for column in schema.columns.all %}
      <tr>
        <td>
          {{ column.order }}
        </td>
        <td>
          {{ column.name }}
        </td>
        <td>
          {{ column.type }}
        </td>
      </tr>
      {% endfor %}
    </table>
    <input type="number" id="number_of_rows" min="0" max="1000">
    <button class="btn btn-primary" id="btn_number_of_rows">Generate</button>

  <script>

    $("#btn_number_of_rows").click(function () {
      var number_of_rows = $("#number_of_rows").val();
      console.log(number_of_rows)

      $.ajax({
        url: "{% url 'schema:create-csv' pk=schema.id %}",
        data: {
          "number_of_rows": number_of_rows
        },
      });
    });

  </script>
{% endblock %}